ase==3.21.1
blessings==1.7
certifi==2021.5.30
chardet==4.0.0
cycler==0.10.0
decorator==4.4.2
dgl==0.7.1
dill==0.3.4
fastparquet==0.5.0
fire==0.4.0
future==0.18.2
gensim==4.0.1
googledrivedownloader==0.4
gpustat==0.6.0
h5py==3.2.1
idna==2.10
isodate==0.6.0
Jinja2==2.11.3
joblib==1.0.1
kiwisolver==1.3.1
llvmlite==0.36.0
MarkupSafe==1.1.1
matplotlib==3.4.1
mkl-fft==1.3.0
mkl-random
mkl-service==2.4.0
networkx
numba==0.53.1
numpy
nvidia-ml-py3==7.352.0
pandas==1.2.4
Pillow==8.2.0
plyvel==1.3.0
psutil==5.8.0
pyarrow==3.0.0
pyparsing==2.4.7
python-dateutil==2.8.1
python-louvain==0.15
pytorch-ignite==0.4.4
pytz==2021.1
rdflib==5.0.0
requests==2.25.1
scikit-learn==0.24.1
scipy
seaborn==0.11.1
six
smart-open==5.1.0
termcolor==1.1.0
threadpoolctl==2.1.0
thrift==0.13.0
torch==1.5.0+cu101
torch-cluster==1.5.7
torch-geometric==1.7.0
torch-scatter==2.0.5
torch-sparse==0.6.7
torch-spline-conv==1.2.0
torchvision==0.6.0+cu101
tqdm==4.60.0
urllib3==1.26.4
